.App {
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
}

.section-container {
  display: flex;
  height: 100vh;
  font-size: calc(10px + 2vmin);
}

.text-column {
  margin: 0;
  padding: 1em 2em;
  max-width: 515px;
  justify-content: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

