.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.nav-left {
  display: flex;
  flex-direction: left;
  justify-content: left;
  align-items: center;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.nav-bar a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  color: #a45899;
  cursor: pointer;
}

.nav-bar a.active {
  color: #a45899;
}

.nav-bar a:visited{
  color: #b4abab;
}

.burger {
  padding: 5px 10px;
}